@model IEnumerable<Product>
@section Scripts {

    <script src="~/clientapp/dist/runtime-es5.js"></script>
    <script src="~/clientapp/dist/runtime-es2015.js"></script>

    <script src="~/clientapp/dist/polyfills-es5.js"></script>
    <script src="~/clientapp/dist/polyfills-es2015.js"></script>

    <script src="~/clientapp/dist/styles-es5.js"></script>
    <script src="~/clientapp/dist/styles-es2015.js"></script>

    <script src="~/clientapp/dist/vendor-es5.js"></script>
    <script src="~/clientapp/dist/vendor-es2015.js"></script>

    <script src="~/clientapp/dist/main-es5.js"></script>
    <script src="~/clientapp/dist/main-es2015.js"></script>
}
<h1>Shop</h1>
<my_app></my_app>
