@model IEnumerable<Product>
@section Scripts {
    <script src="~/ClientApp/dist/runtime-es2015.js" type="module"></script>
    <script src="~/ClientApp/dist/runtime-es5.js" nomodule defer></script>
    <script src="~/ClientApp/dist/polyfills-es5.js" nomodule defer></script>
    <script src="~/ClientApp/dist/polyfills-es2015.js" type="module"></script>
    <script src="~/ClientApp/dist/styles-es2015.js" type="module"></script>
    <script src="~/ClientApp/dist/styles-es5.js" nomodule defer></script>
    <script src="~/ClientApp/dist/vendor-es2015.js" type="module"></script>
    <script src="~/ClientApp/dist/vendor-es5.js" nomodule defer></script>
    <script src="~/ClientApp/dist/main-es2015.js" type="module"></script>
    <script src="~/ClientApp/dist/main-es5.js" nomodule defer></script>
}
<h1>Shop</h1>
<the-shop>Loading1...</the-shop>
