@model IEnumerable<Product>
@section Scripts {
    <script src="~/ClientApp/dist/runtime.js" type="module"></script>
    <script src="~/ClientApp/dist/polyfills.js" type="module"></script>
    <script src="~/ClientApp/dist/styles.js" type="module"></script>
    <script src="~/ClientApp/dist/vendor.js" type="module"></script>
    <script src="~/ClientApp/dist/main.js" type="module"></script>
}
<h1>Shop</h1>
<the-shop>Loading...</the-shop>
